[submodule "lib/WebSocket.ahk"]
	path = lib/WebSocket.ahk
	url = git@github.com:eclairevoyant/WebSocket.ahk.git
[submodule "lib/AutoHotkey-JSON"]
	path = lib/AutoHotkey-JSON
	url = git@github.com:eclairevoyant/AutoHotkey-JSON.git
	branch = boolean
